@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i';
.strikethrough {
  text-decoration: line-through; }

.logotype-text {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1.5rem; }

.index-links {
  font-weight: bold;
  font-size: 7.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 9rem;
  hanging-punctuation: force-end;
  color: #ffa963; }

.index-links:hover {
  text-decoration: none;
  color: #434343; }

@media (max-width: 640px) {
  .index-links {
    font-size: 6rem;
    letter-spacing: 0.2rem;
    line-height: 7rem; } }

@media (max-width: 544px) {
  .index-links {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    line-height: 4.5rem; } }

/* Custom navigation stuff */
.orange-strip {
  height: 0.3rem;
  background-color: #ffa963; }

/* Footer */
.footer p {
  letter-spacing: 0.075rem;
  font-size: 0.8rem; }
