/* NOT SURE IF THESE SHOULD BE KEPT
  IT'S ALL CUSTOM FONT
 */

 html{
     height:100% !important;
 }

@font-face {
    font-family: customItalic;
    src: url(../fonts/Italic.ttf);
}

@font-face {
    font-family: customRegular;
    src: url(../fonts/Regular.ttf);
}

@font-face {
    font-family: customBold;
    src: url(../fonts/Bold.ttf);
}

.customItalic {
    font-family: customItalic;
}

.customRegular {
    font-family: customRegular;
}

/* END CUSTOM FONTS */

.logotype-text {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1.5rem;
}

.index-links {
    font-family: customBold;
    font-size: 7.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 9rem;
    hanging-punctuation: force-end;
    color: #FFA963;
}

.index-links:hover {
    text-decoration: none;
    color: #434343;
}

@media (max-width: 640px) {
    .index-links {
        font-size: 6rem;
        letter-spacing: 0.2rem;
        line-height: 7rem;
    }
}

@media (max-width: 544px) {
    .index-links {
        font-size: 4rem;
        letter-spacing: 0.2rem;
        line-height: 4.5rem;
    }
}

/* Custom navigation stuff */

.orange-strip {
    height: 0.3rem;
    background-color: #FFA963;
}

.logotype-hover:hover {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.customNavigationItem {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
}

.nav-container {
    text-align: center;
}
.nav-container ul {
    display: inline-block;
}

/* Footer */

.footer p{
    letter-spacing: 0.075rem;
    font-size: 0.8rem;
}
