<!-- playlistsView. 
    Shows the current playlist -->
<div class="container">
    <table class="table table-sm small table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in getPlaylist() | limitTo:10">
                <th scope="row">{{$index + 1}}
                    <!--TODO: {{song.number}}-->
                </th>
                <td><img class="img-fluid" ng-src="{{song.track.album.images[2].url}}" alt="{{song.track.album.name}} Album Cover" /></td>
                <td>{{song.track.name}}</td>
                <td>{{song.track.artists[0].name}}</td>
                <td>{{msToMinSec(song.track.duration_ms)}}</td>
                <!--<td><a href="{{song.track.preview_url}}"><i class="fa fa-play"><i/></a></td>-->
                <td><audio controls><source src="{{song.track.preview_url}}" type="audio/mp3">Your browser does not support the audio element.</audio></td>
            </tr>
        </tbody>
    </table>
</div>
